<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
</head>
<body>
    
    <div class="box">
        <table class="table table-dark table-striped">
      <thead>
          <tr>
              <th scope="col">Sno</th>
              <th scope="col">Name</th>
              <th scope="col">Password</th>
              <th scope="col">Delete</th>
        </tr>
    </thead>
      {% for det in dets %}
      
      <tbody>
          <tr>
              <th scope="row">{{det.index}}</th>
              <td>{{det.username}}</td>
              <td>{{det.password}}</td>
              <td><a href="/delete/{{det.sno}}"><button >Delete</button></a></td>
            </tr>
            {% endfor %}
            
            <a href="/logout"><button class="btn">logout</button></a>
  </div>
        </body>
        </html>